.edit-task-panel {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #E3E3E3;
  width: 100%;

  .text-right {
      display: flex;
      justify-content: end;
  }

      .col-sm-10 {
          padding: 0;
      }
  }

  /* ---------------------Cancel Button---------------------- */

  .btn-cancel {
      background-color: #AFAFAF !important;
      color: #fff;
      border: none !important;
      border-radius: 50px !important;
      padding: 15px 20px !important;
      transition: all 0.2s !important;
  }

  .btn-cancel:hover {
      background-color: rgb(220, 45, 45) !important;
  }

  /* ---------------------Next/Confirm Button---------------------- */

  .btn-save {
      color: #fff !important;
      background-color: #74B16F !important;
      border: none !important;
      border-radius: 50px !important;
      padding: 15px 35px !important;
      transition: all 0.2s !important;
  }

  .btn-save:hover {
      background-color: #529A4C !important;
  }

  /* ---------------------Button Default---------------------- */

  .btn-default-s {
      color: #fff;
      background-color: #AFAFAF;
      border-radius: 15px;
      border: none;
      transition: all 0.2s;
  }

  .btn-default-s:hover, .btn-default-s:active {
      background-color: #6a6a6a;
  }

  /* ---------------------Icons---------------------- */

  .caret {
      width: 10px;
      height: auto;
  }

  .input-field {
      background-color: #FFFFFF;
      border: none;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      outline: none;
  }
  .option-container {
      padding: 0;

  }
  .form-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .select-container {
      display:flex;

      .options-select{
        width: 100px;
      }
    }

    .option-container{
      padding: 0;
    }

    .pad-this{
      padding:0 30px
    }

    .selectBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-position: calc(100% - 0.75rem) center !important;
      -moz-appearance:none !important;
      -webkit-appearance: none !important; 
      appearance: none !important;
    }
    
    .ai-label {
        width: 400px;
        @media (max-width: 600px) {
            .ai-label {
            }
        }
    }
  }

  .form-group-data {
    justify-content: start;
  }

  @media (max-width: 600px) {
    .form-group{
        display: block;
    }
    .resize-images-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .col-sm-10 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .files-text {
        font-size: 15px;
        text-align: center;
    }

    .resize-control {
        width: 100%;
    }

    .btn-confirm {
        padding: 15px 20px;
    }

    .btn-danger {
        padding: 15px 15px;
    }

    .text-right {
        justify-content: center;
    }
  }

  .noPadding{
    max-width: 120px;
    padding-top: 0px;
    padding: 0px;
    margin-top: 0px;
    text-align: left;
    @media(max-width:800px){
        padding-left: 10px;
        padding-right: 10px;
    }
  }
  .newPad{
      padding:0px;
      max-width: 70px;
      text-align: left;
      margin-top: 0;
  }
  input,
  select,
  textarea {
      flex: 1; /* Faz com que os inputs ocupem o restante do espaço */
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  .textMoveRight{
      text-align: right;
      margin-left: 2%;
      @media(max-width:580px){
          margin-right:5px;
          text-align: center;
      }
  }
  .buttonHover:hover{
      filter:brightness(0.9);
  }
  .fixEditar .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border: none;
      height: 35.5px;
  }

