.edit-task-form {
    width: 100%; /* Faz o container expandir */
    padding: 0; /* Remove qualquer padding extra */
    margin: 0; /* Remove margens extras */

    .presets-dropdown {
        position: absolute;
        right: -120px;  /* Move o botão para fora do select */
        top: 50%;
        transform: translateY(-50%); /* Centraliza verticalmente */
        border-radius: 6px;  /* Bordas levemente arredondadas */
        padding: 8px 16px;  /* Ajuste de tamanho para um formato mais retangular */
        min-width: 90px;  /* Largura mínima para evitar que fique pequeno demais */
        height: auto;  /* Mantém a altura conforme o conteúdo */
        font-size: 14px;  /* Tamanho da fonte */
    }
  
    .preset-performing-action-icon {
      margin-left: 0;
    }
  
    .preset-error {
      margin-top: 12px;
    }
  
    .system-preset {
      background-color: #eee;
    }
  
    .review-options {
      margin-top: 10px;
      margin-bottom: 14px;
    }
  
    .name-loading {
      position: absolute;
      left: 10px;
      top: 15px;
      opacity: 0.5;
    }
  
    .name-fields {
      display: flex;
      justify-content: flex-start;
  
      .btn.toggle-tags {
        margin-top: 2px;
        margin-bottom: 2px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
  
      input[type="text"] {
        border: none;  /* Remove qualquer borda */
        outline: none; /* Remove a borda ao focar no campo */
        box-shadow: none; /* Remove sombras que podem dar aparência de borda */
        background-color: #fff; /* Mantém o fundo branco para visualização limpa */
      }
    }
  
    .popup {
        left: 50%;
        top: 10%;
        transform: translate(-50%, 0);
        width: 80%;  // Garante melhor ajuste em telas menores
        max-width: 600px;  // Limita o tamanho em telas maiores
      }
      
  
    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 15px;
      padding: 10px 20px;
      background-color: #e2dfdf;
      border-radius: 10px;
      text-align: left;
    }
  
    .input-field {
      background-color: #fff;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 8px;
      width: 100%;
      outline: none;
    }
  
    .fa-tag {
      color: #14A5A2;
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  
    .fa-tag:hover {
      color: #0d7e7c;
      transform: scale(1.2);
    }
  
    .buttons-container {
      justify-content: flex-start;
    }
  
    .newPad {
      padding: 10px;
    }
  
    .littleScreen {
      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
  